$darkest: hsl(207, 18%, 5%);
$darker: hsl(207, 18%, 22%);
$dark: #636f7e;
$light: #d8dfe4;
$lighter: #f3fafa;
$highlight: #98c1d9;

body {
  @font-face {
    font-family: nunito;
    src: url(../media/Nunito-VariableFont_wght.ttf);
  }
  font-family: nunito;
  margin: 0px;
  font-weight: 400;
  background-color: $darkest;
  color: $light;
  a {
    color: $lighter;
  }
}
