// $darkest: hsl(207, 18%, 5%);
// $darker: hsl(207, 18%, 22%);
// $dark: #636f7e;
// $light: #d8dfe4;
// $lighter: #f3fafa;
// $highlight: #98c1d9;
$darkest: #f3fafa;
$darker: #d8dfe4;
$dark: #636f7e;
$light: hsl(207, 18%, 22%);
$lighter: hsl(207, 18%, 5%);
$highlight: #98c1d9;

.report-body {
  display: flex;
  margin-top: 9vh;
  flex-direction: column;
  padding-inline: 20vh;
}
h4 {
  margin: 0px;
  font-weight: 200;
}
h1 {
  margin-bottom: 0px;
}
button,
option,
select {
  border: none;
  background: none;
  color: $light;
  height: 100%;
}
.buttons {
  display: flex;
  justify-content: space-between;
  button {
    padding-inline: 1rem;
    box-sizing: border-box;
  }
}
.search-bar {
  flex: auto;
  height: 2rem;
}

.pagination-controls {
  display: flex;
  height: 2rem;
  justify-content: space-between;
  align-items: center;
}
.go-to-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  input {
    border: none;
    background: none;
    color: black;
  }
}
th {
  text-align: left;
  border-bottom: 1px solid $darker;
  padding-left: 1rem;
}
tr {
  height: 3rem;
}
td {
  padding-left: 1rem;
}
tr:nth-of-type(even) {
  background: rgba(255, 255, 255, 0.02);
}
.ip-report {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background: $darkest;
  border: 1px solid $darkest;
  margin-bottom: 10vh;
  width: 100%;
  position: relative;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

  a {
    text-decoration: none;
  }

  .header {
    background: $darkest !important;
    position: sticky;
  }

  .report {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 4rem;
    box-sizing: border-box;
    transition-duration: 0.2s;
    border-bottom: 1px solid $darker;
    .report-name {
      word-wrap: break-word;
      padding-right: 1rem;
    }
    p {
      display: flex;
      flex: 1;
    }
    p:last-of-type {
      border-right: none;
    }

    a {
      color: rgba(255, 255, 255, 0.8);
      width: 8rem;
      text-decoration: none;
      :active {
        color: $highlight;
      }
    }

    button {
      all: unset;
      width: 1rem;
      padding-right: 2rem;
      svg {
        pointer-events: none;
      }
    }
    button:active {
      color: $highlight;
    }
  }
  .report:nth-of-type(odd) {
    background: hsla(0, 0%, 100%, 0.01);
  }
  .report:nth-of-type(even) {
    background: hsla(0, 0%, 100%, 0.01);
  }
  .report:hover {
    background-color: $dark;
    transition-duration: 0.2s;
    cursor: pointer;
  }
}
.low-threat {
  color: $lighter;
  font-weight: 600;
}
.mid-threat {
  color: hsl(60, 100%, 68%);
  font-weight: 900;
}
.high-threat {
  color: hsl(39, 100%, 68%);
  font-weight: 900;
}
.crit-threat {
  color: hsl(0, 100%, 68%);
  font-weight: 900;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
}
header {
  :first-child {
    display: flex;
    align-items: center;
  }
}
.report-name-block {
  display: flex;
  flex-direction: column;
  align-items: start !important;
}
