$darkest: #181d25;
$darker: #293241;
$dark: #3d5a80;
$light: #98c1d9;
$lighter: #e0fbfc;
$highlight: #ee6c4d;

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100dvh;
  margin: 0px;
  overflow: hidden;
  font-weight: 400;
  background-color: $darker;
  text-transform: capitalize;
  color: $lighter;
  a {
    color: $lighter;
  }
}
