.file-upload-container {
  border: 1px dashed black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;

  button {
    height: 100%;
    border: none;
  }
  button:hover {
    background-color: rgba(255, 255, 255, 0.723);
  }

  button:active {
    transform: scale(1.1);
  }
  input {
    color: white;
    font-size: 1rem;
  }
}
